<%= form_for(@vj) do |f| %>
  <% if @vj.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vj.errors.count, "error") %> prohibited this vj from being saved:</h2>

      <ul>
      <% @vj.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :age %><br />
    <%= f.text_field :age %>
  </div>
  <div class="field">
    <%= f.label :vj %><br />
    <%= f.file_field :photo %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
